[data-md-color-scheme=hallow] {
    
    --md-primary-fg-color: #ab47bd;
    --md-primary-fg-color--light: #bb69c9;
    --md-primary-fg-color--dark: #8c24a8;
    --md-default-bg-color: #1d1d1d;
    
    --header-color: rgb(75, 41, 107);
    
    --kohara-bg: url(../assets/biomes/hallow.png);
   

}
