.adv-div {
	display: grid;
}

.adv, .adv-sm {
	display: inline-block;
	background-image: url(../assets/advancements.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: crisp-edges;
}

.adv, .icon-adv{
	grid-column: 1;
  	grid-row: 1;
}

.adv {
	width: 96px;
	height: 96px;
	background-size: 288px;
	vertical-align: middle !important;
}
.adv-sm {
	width: 16px;
	height: 16px;
	background-size: 512px auto;
}

.icon-adv {
	width: 32px;
	height: 32px;
	scale: 2;
	z-index: 1; 
	transform: translate(16px, 16px)
}

.adv-task{background-position:0px 0px;}
.adv-challenge{background-position:-96px 0px;}
.adv-goal{background-position:-192px 0px;}
